<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>THis is a Home Page</h1>
    <!-- Tags ejs.co Docs -->
    <%= 1 * 2 %>
    <h3><%= "shahnawaz".toUpperCase() %></h3>
    <h3><%= ["hello","bonjour","namaste"][3] %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quam, officia
      sit a ex sapiente tempora, porro omnis est provident corporis natus dolore
      voluptate distinctio corrupti modi voluptatem repellendus inventore
      placeat praesentium ducimus! Enim distinctio perferendis unde nesciunt cum
      facere, voluptatum ipsum repellendus autem magni dignissimos modi ducimus
      laborum ullam necessitatibus dicta vero. Velit distinctio dolore expedita
      officia consequuntur repellat officiis, ipsum dolorem error inventore
      molestias magnam consectetur vitae aliquam obcaecati doloremque incidunt?
      Ipsam vitae repellendus sunt tempore earum quas minus iusto. Dolore
      doloribus similique, veritatis necessitatibus ullam assumenda obcaecati
      tempora, sint, dolorem nulla nobis libero. Ullam nihil fugiat itaque
      dolores quo, sed, dolorem voluptates, molestias inventore alias unde
      assumenda necessitatibus minus tenetur adipisci quibusdam. Labore expedita
      quae perferendis, nulla distinctio itaque nisi magni, sint error
      consequatur enim unde facilis ipsam voluptatem iusto saepe maxime
      veritatis eius autem praesentium ducimus laborum voluptate nobis
      repudiandae? Earum, dolores officia. Nulla quidem commodi adipisci
      perferendis placeat ea minima optio inventore, nostrum minus, saepe ullam,
      nesciunt maiores quam impedit! Unde totam voluptates aspernatur, aliquam,
      sapiente iste quidem facilis accusantium porro natus qui earum laborum
      quaerat molestias inventore ratione quas consequatur nisi. Debitis quae
      enim voluptatem et, vel a illo repellat itaque obcaecati, asperiores
      porro!
    </p>
    <button>Click me</button>
<%- include("includes/footer.ejs") %>

  </body>
</html>